:root {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.timer {
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.questionContainer {
  width: 100vw;
  display: flex;
  flex: content;
  flex-direction: column;
  -ms-flex-align: center;
  margin-top: 5rem;
  margin-left: 10rem;
}
#scores {
  align-items: left;
  color: #d391ee;
  font-size: 1.2rem;
  margin-left: 2%;
}

#timer {
  align-items: right;
  color: black;
  font-size: 1.2rem;
  margin-left: 63%;
}
#time {
  align-items: right;
  color: black;
  font-size: 1.2rem;
  margin-left: 60%;
}


#h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  text-align: center;
  font-size: 30px;
  -ms-flex-align: center;
  margin-top: 4rem;
  margin-bottom: 10%;
}

.choiceText {
  display: flexbox;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #351c74;
  color: white;
  text-align: center;
  margin-top: 0.5%;
}
