:root {
    background-color: whitesmoke;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#border {
 border: solid 2px #6A6A6A;
 border-radius: 25px;
 margin-top: 1%;
 margin-bottom: 1%;
 margin-left: 1%;
 margin-right: 1%;
 padding-top: 2%;
 padding-bottom: 8%;
 display: flex;
}


#scores {
    align-items: left;
    color: #D391EE;
    font-size: 2rem;
    margin-left: 2%;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-align: center;
    font-size: 5rem;
   -ms-flex-align: center;
   margin-top: 12rem;
}
.instructions {
   font-size: 2.5rem;
    text-align:center;
    vertical-align: baseline;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
/* buttons*/

#startbtn {
    text-align: center;
    color: white;
    background-color: #351C74;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 45%;
    padding: .8rem;
    border-radius: 10px;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
}
